In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_colwidth', -1)

C:\Users\quang\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

In [3]:
train = pd.read_csv("aug_train.csv")
test = pd.read_csv("aug_test.csv")

In [4]:
train.head(200)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
5,21651,city_176,0.764,NaN,Has relevent experience,Part time course,Graduate,STEM,11,NaN,NaN,1,24,1.0
6,28806,city_160,0.920,Male,Has relevent experience,no_enrollment,High School,NaN,5,50-99,Funded Startup,1,24,0.0
7,402,city_46,0.762,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,<10,Pvt Ltd,>4,18,1.0
8,27107,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,50-99,Pvt Ltd,1,46,1.0
9,699,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0.0
10,29452,city_21,0.624,NaN,No relevent experience,Full time course,High School,NaN,2,NaN,NaN,never,32,1.0
11,23853,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,5000-9999,Pvt Ltd,1,108,0.0
12,25619,city_61,0.913,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,3,23,0.0
13,5826,city_21,0.624,Male,No relevent experience,NaN,NaN,NaN,2,NaN,NaN,never,24,0.0
14,8722,city_21,0.624,NaN,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,never,26,0.0
15,6588,city_114,0.926,Male,Has relevent experience,no_enrollment,Graduate,STEM,16,10/49,Pvt Ltd,>4,18,0.0
16,4167,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,1,50-99,Pvt Ltd,never,106,0.0
17,5764,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,2,5000-9999,Pvt Ltd,2,7,0.0
18,2156,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,7,10000+,Pvt Ltd,never,23,1.0
19,11399,city_13,0.827,Female,Has relevent experience,no_enrollment,Graduate,Arts,4,NaN,NaN,1,132,1.0
20,31972,city_159,0.843,Male,Has relevent experience,no_enrollment,Masters,STEM,11,100-500,Pvt Ltd,1,68,0.0
21,19061,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,11,100-500,Pvt Ltd,2,50,0.0
22,6491,city_102,0.804,NaN,Has relevent experience,no_enrollment,Masters,STEM,10,NaN,NaN,1,48,0.0
23,7041,city_40,0.776,Male,Has relevent experience,no_enrollment,Graduate,Humanities,<1,1000-4999,Pvt Ltd,1,65,0.0
24,22767,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,5,1000-4999,Pvt Ltd,1,13,0.0
25,14505,city_67,0.855,NaN,No relevent experience,no_enrollment,High School,NaN,4,NaN,NaN,never,22,0.0
26,17139,city_21,0.624,NaN,Has relevent experience,Part time course,Graduate,STEM,14,500-999,Pvt Ltd,1,148,1.0
27,28476,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,Arts,5,NaN,NaN,2,72,0.0
28,21538,city_100,0.887,Male,Has relevent experience,no_enrollment,High School,NaN,11,<10,Pvt Ltd,1,8,1.0
29,10408,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,18,50-99,Funded Startup,2,68,1.0
30,14928,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Pvt Ltd,3,40,0.0
31,22293,city_103,0.920,Male,Has relevent experience,Part time course,Graduate,STEM,19,5000-9999,Pvt Ltd,>4,141,0.0
32,4324,city_103,0.920,Female,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,1,24,0.0
33,26966,city_160,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Pvt Ltd,>4,82,0.0
34,26494,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,Business Degree,12,5000-9999,Pvt Ltd,3,145,0.0
35,4866,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,10/49,Early Stage Startup,2,206,0.0
36,12726,city_114,0.926,Male,No relevent experience,Part time course,High School,NaN,1,10000+,Other,1,152,0.0
37,10164,city_114,0.926,Male,Has relevent experience,no_enrollment,Phd,STEM,>20,100-500,Pvt Ltd,4,42,1.0
38,8612,city_103,0.920,NaN,No relevent experience,no_enrollment,Graduate,STEM,12,NaN,NaN,4,50,0.0
39,24659,city_71,0.884,Male,No relevent experience,no_enrollment,NaN,NaN,3,NaN,NaN,never,106,0.0
40,2547,city_114,0.926,Female,Has relevent experience,Full time course,Masters,STEM,16,1000-4999,Public Sector,2,14,0.0
41,13854,city_104,0.924,Male,Has relevent experience,no_enrollment,High School,NaN,4,10/49,Pvt Ltd,2,36,0.0
42,31654,city_21,0.624,NaN,Has relevent experience,no_enrollment,Masters,STEM,6,50-99,Early Stage Startup,1,112,1.0
43,13643,city_64,0.666,NaN,No relevent experience,no_enrollment,Graduate,No Major,9,50-99,Pvt Ltd,never,108,0.0
44,5590,city_21,0.624,Male,Has relevent experience,Part time course,Masters,STEM,9,5000-9999,Pvt Ltd,3,7,1.0
45,22452,city_21,0.624,Female,No relevent experience,Full time course,Masters,STEM,5,NaN,NaN,never,26,1.0
46,9006,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,100-500,Pvt Ltd,never,87,1.0
47,25987,city_103,0.920,Other,Has relevent experience,no_enrollment,Graduate,STEM,19,10000+,Public Sector,4,52,1.0
48,4476,city_101,0.558,Male,Has relevent experience,no_enrollment,Graduate,No Major,15,NaN,NaN,>4,20,1.0
49,25103,city_83,0.923,Male,Has relevent experience,no_enrollment,Graduate,STEM,11,10/49,Pvt Ltd,1,21,0.0
50,5568,city_101,0.558,Male,No relevent experience,no_enrollment,Graduate,STEM,4,NaN,NaN,1,92,1.0
51,2195,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,100-500,Pvt Ltd,2,102,0.0
52,30533,city_105,0.794,Male,No relevent experience,no_enrollment,Graduate,Humanities,5,10000+,Pvt Ltd,>4,26,0.0
53,28512,city_104,0.924,NaN,Has relevent experience,no_enrollment,Masters,STEM,3,<10,Early Stage Startup,2,7,0.0
54,1023,city_114,0.926,Male,No relevent experience,Full time course,High School,NaN,4,10000+,Pvt Ltd,1,43,0.0
55,12253,city_104,0.924,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Pvt Ltd,1,45,0.0
56,25296,city_73,0.754,Male,Has relevent experience,Full time course,Graduate,STEM,2,50-99,Early Stage Startup,2,52,0.0
57,13238,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,2,19,0.0
58,13478,city_21,0.624,NaN,Has relevent experience,Full time course,Graduate,STEM,2,10/49,Funded Startup,NaN,32,1.0
59,18578,city_162,0.767,Male,Has relevent experience,no_enrollment,Graduate,Humanities,>20,100-500,Pvt Ltd,>4,26,1.0
60,29975,city_67,0.855,Male,Has relevent experience,Part time course,Graduate,STEM,6,NaN,NaN,1,90,0.0
61,26516,city_75,0.939,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,100-500,Pvt Ltd,3,25,0.0
62,24690,city_41,0.827,NaN,Has relevent experience,NaN,Masters,STEM,13,<10,NaN,1,15,0.0
63,8433,city_100,0.887,Male,Has relevent experience,no_enrollment,Masters,Humanities,>20,100-500,Pvt Ltd,>4,48,0.0
64,9572,city_11,0.550,NaN,No relevent experience,Full time course,High School,NaN,3,NaN,NaN,NaN,98,0.0
65,5878,city_93,0.865,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,50-99,Pvt Ltd,2,142,1.0
66,25695,city_67,0.855,Other,No relevent experience,no_enrollment,Masters,Humanities,4,10000+,Pvt Ltd,4,13,0.0
67,9645,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,15,NaN,NaN,>4,47,0.0
68,12730,city_16,0.910,Female,Has relevent experience,no_enrollment,Masters,Humanities,14,500-999,Public Sector,1,28,0.0
69,4830,city_90,0.698,NaN,No relevent experience,NaN,NaN,NaN,2,NaN,Pvt Ltd,never,228,1.0
70,20970,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,4,22,0.0
71,17271,city_21,0.624,Male,No relevent experience,Full time course,Graduate,STEM,<1,NaN,NaN,never,18,1.0
72,12731,city_13,0.827,Male,Has relevent experience,no_enrollment,Graduate,STEM,2,10/49,Pvt Ltd,1,29,0.0
73,10908,city_67,0.855,Male,Has relevent experience,no_enrollment,Masters,STEM,5,100-500,NaN,1,46,0.0
74,29117,city_11,0.550,NaN,No relevent experience,Full time course,Graduate,STEM,<1,NaN,NaN,never,12,0.0
75,3686,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,5,100-500,Pvt Ltd,2,17,0.0
76,22683,city_36,0.893,Male,Has relevent experience,no_enrollment,Masters,STEM,5,50-99,Pvt Ltd,2,65,0.0
77,22134,city_103,0.920,Male,No relevent experience,no_enrollment,Graduate,Humanities,3,100-500,Pvt Ltd,1,35,0.0
78,31765,city_67,0.855,Male,No relevent experience,Full time course,Graduate,STEM,9,10000+,Pvt Ltd,3,14,0.0
79,31449,city_103,0.920,Female,Has relevent experience,no_enrollment,Masters,STEM,2,<10,Early Stage Startup,1,4,0.0
80,5987,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,12,0.0
81,21762,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,2,108,0.0
82,22070,city_103,0.920,Male,No relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,136,0.0
83,25413,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,10/49,NaN,1,27,0.0
84,5902,city_20,0.796,NaN,Has relevent experience,Part time course,Masters,STEM,4,50-99,Funded Startup,1,74,0.0
85,28403,city_71,0.884,Male,Has relevent experience,no_enrollment,Graduate,STEM,15,10/49,Early Stage Startup,1,86,0.0
86,30937,city_57,0.866,Female,No relevent experience,Part time course,Graduate,STEM,<1,10/49,Pvt Ltd,2,83,0.0
87,28751,city_103,0.920,NaN,No relevent experience,Full time course,High School,NaN,4,NaN,NaN,3,75,0.0
88,29290,city_152,0.698,Male,No relevent experience,Full time course,Masters,STEM,11,NaN,Public Sector,2,42,0.0
89,32401,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,6,100-500,NaN,1,332,0.0
90,19128,city_61,0.913,Male,No relevent experience,Full time course,Graduate,STEM,4,NaN,NaN,NaN,140,0.0
91,29036,city_16,0.910,Male,No relevent experience,no_enrollment,High School,NaN,3,NaN,NaN,never,182,0.0
92,16869,city_103,0.920,Female,No relevent experience,no_enrollment,Graduate,Humanities,3,100-500,Pvt Ltd,1,13,1.0
93,10497,city_19,0.682,NaN,Has relevent experience,no_enrollment,Graduate,STEM,5,10/49,Pvt Ltd,2,172,1.0
94,18099,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,10,100-500,NGO,1,48,0.0
95,12081,city_65,0.802,Male,Has relevent experience,Full time course,Graduate,STEM,9,50-99,Pvt Ltd,1,33,0.0
96,7364,city_160,0.920,NaN,No relevent experience,Full time course,High School,NaN,2,100-500,Pvt Ltd,1,142,0.0
97,11184,city_74,0.579,NaN,No relevent experience,Full time course,Graduate,STEM,2,100-500,Pvt Ltd,1,34,0.0
98,7016,city_65,0.802,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Pvt Ltd,2,14,1.0
99,8695,city_11,0.550,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,10/49,Pvt Ltd,2,27,1.0
100,6172,city_11,0.550,Male,Has relevent experience,no_enrollment,Graduate,STEM,8,100-500,Pvt Ltd,1,24,1.0
101,14672,city_173,0.878,NaN,No relevent experience,no_enrollment,Masters,STEM,>20,NaN,NaN,1,150,0.0
102,18257,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,11,500-999,NGO,>4,20,0.0
103,24493,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,5,500-999,NaN,1,140,0.0
104,1180,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,12,5000-9999,Pvt Ltd,1,52,0.0
105,28627,city_75,0.939,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,2,160,0.0
106,8168,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,9,5000-9999,Pvt Ltd,2,3,0.0
107,10473,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,2,<10,Pvt Ltd,2,2,1.0
108,25349,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,28,0.0
109,5220,city_73,0.754,Male,Has relevent experience,no_enrollment,Graduate,Other,>20,NaN,NaN,4,46,0.0
110,4789,city_67,0.855,Male,Has relevent experience,no_enrollment,Graduate,STEM,8,50-99,Pvt Ltd,1,210,0.0
111,11338,city_114,0.926,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,<10,Pvt Ltd,1,36,0.0
112,27963,city_98,0.949,Male,No relevent experience,Full time course,Graduate,STEM,4,NaN,NaN,1,160,1.0
113,8571,city_21,0.624,Male,Has relevent experience,Full time course,Graduate,STEM,2,10/49,NGO,2,101,0.0
114,16303,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,6,50-99,NaN,1,46,0.0
115,20576,city_97,0.925,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,19,0.0
116,32966,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,2,26,1.0
117,21199,city_90,0.698,NaN,Has relevent experience,Full time course,Graduate,STEM,7,<10,NGO,1,90,0.0
118,18819,city_50,0.896,Male,Has relevent experience,no_enrollment,Graduate,STEM,9,<10,Pvt Ltd,4,59,0.0
119,14199,city_160,0.920,Male,Has relevent experience,Part time course,Graduate,Business Degree,10,50-99,Funded Startup,1,260,0.0
120,7666,city_21,0.624,Female,Has relevent experience,no_enrollment,Graduate,STEM,11,50-99,Pvt Ltd,>4,74,0.0
121,13915,city_16,0.910,Male,Has relevent experience,no_enrollment,Phd,STEM,>20,100-500,Pvt Ltd,2,20,1.0
122,10555,city_173,0.878,Male,Has relevent experience,no_enrollment,Graduate,STEM,12,100-500,Pvt Ltd,2,8,0.0
123,16040,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,100-500,Pvt Ltd,1,131,0.0
124,32826,city_138,0.836,Male,Has relevent experience,Full time course,Masters,STEM,7,NaN,NaN,1,45,0.0
125,13253,city_82,0.693,Male,Has relevent experience,Full time course,Graduate,STEM,11,10/49,Pvt Ltd,2,109,0.0
126,15637,city_67,0.855,Male,Has relevent experience,no_enrollment,Graduate,Humanities,3,100-500,Pvt Ltd,1,70,0.0
127,28074,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,NGO,>4,17,0.0
128,23012,city_103,0.920,Female,No relevent experience,no_enrollment,Masters,STEM,15,50-99,Pvt Ltd,1,51,0.0
129,16110,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Pvt Ltd,3,60,1.0
130,3921,city_36,0.893,NaN,No relevent experience,no_enrollment,Phd,STEM,>20,1000-4999,Public Sector,>4,4,0.0
131,24530,city_114,0.926,Male,No relevent experience,no_enrollment,Graduate,STEM,12,100-500,Pvt Ltd,>4,7,0.0
132,1924,city_102,0.804,NaN,Has relevent experience,no_enrollment,Masters,STEM,>20,100-500,Pvt Ltd,3,164,0.0
133,32776,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,20,NaN,NaN,4,290,0.0
134,1907,city_102,0.804,Male,No relevent experience,no_enrollment,High School,NaN,2,<10,NGO,never,145,0.0
135,23947,city_103,0.920,NaN,No relevent experience,no_enrollment,Phd,STEM,NaN,NaN,NaN,NaN,70,0.0
136,3116,city_21,0.624,Male,No relevent experience,no_enrollment,NaN,NaN,3,NaN,NaN,1,24,0.0
137,24829,city_103,0.920,Male,No relevent experience,no_enrollment,Masters,Humanities,3,10000+,Pvt Ltd,1,133,1.0
138,30488,city_11,0.550,NaN,No relevent experience,Full time course,Graduate,STEM,2,NaN,NaN,1,20,0.0
139,1265,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,<10,Funded Startup,1,76,0.0
140,22098,city_90,0.698,Female,No relevent experience,Full time course,Masters,STEM,5,NaN,NaN,4,21,1.0
141,13342,city_21,0.624,Female,Has relevent experience,no_enrollment,Graduate,Other,8,5000-9999,Pvt Ltd,2,34,0.0
142,24608,city_160,0.920,Male,No relevent experience,no_enrollment,Graduate,STEM,9,<10,Pvt Ltd,2,15,0.0
143,20081,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,>4,156,0.0
144,24796,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,5000-9999,Pvt Ltd,>4,15,0.0
145,7777,city_114,0.926,NaN,Has relevent experience,no_enrollment,Masters,STEM,>20,NaN,NaN,never,120,0.0
146,22718,city_157,0.769,NaN,Has relevent experience,no_enrollment,Graduate,No Major,14,10000+,NaN,>4,47,0.0
147,1261,city_73,0.754,Male,Has relevent experience,no_enrollment,Graduate,STEM,12,NaN,NaN,2,100,1.0
148,3396,city_67,0.855,Male,Has relevent experience,Part time course,Graduate,STEM,6,500-999,Pvt Ltd,never,102,0.0
149,4283,city_103,0.920,Male,No relevent experience,no_enrollment,High School,NaN,4,NaN,NaN,never,52,0.0
150,18998,city_114,0.926,NaN,Has relevent experience,no_enrollment,High School,NaN,9,10/49,NaN,4,39,0.0
151,2003,city_103,0.920,Male,Has relevent experience,Full time course,High School,NaN,4,NaN,NaN,1,112,1.0
152,31786,city_103,0.920,Male,No relevent experience,no_enrollment,Phd,STEM,>20,50-99,Pvt Ltd,>4,14,0.0
153,8241,city_16,0.910,NaN,Has relevent experience,no_enrollment,NaN,NaN,11,NaN,NaN,1,4,0.0
154,12154,city_16,0.910,NaN,Has relevent experience,no_enrollment,Masters,Arts,>20,1000-4999,NGO,>4,55,0.0
155,23455,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,10000+,Pvt Ltd,4,49,1.0
156,19882,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,15,NaN,NaN,>4,72,0.0
157,28817,city_89,0.925,Male,Has relevent experience,Full time course,Graduate,STEM,14,5000-9999,Pvt Ltd,3,141,1.0
158,4656,city_114,0.926,Male,No relevent experience,no_enrollment,High School,NaN,6,NaN,Pvt Ltd,never,28,0.0
159,7280,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,10000+,Pvt Ltd,1,6,0.0
160,16903,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,No Major,17,5000-9999,Pvt Ltd,1,125,0.0
161,13333,city_75,0.939,NaN,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,never,326,0.0
162,26241,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,Other,>20,100-500,Pvt Ltd,2,33,0.0
163,12381,city_102,0.804,NaN,No relevent experience,no_enrollment,Masters,STEM,6,10000+,Pvt Ltd,>4,40,0.0
164,4064,city_160,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,18,NaN,NaN,1,198,1.0
165,32092,city_103,0.920,Female,Has relevent experience,no_enrollment,Masters,STEM,15,10000+,Pvt Ltd,>4,55,0.0
166,3766,city_150,0.698,Male,No relevent experience,no_enrollment,Graduate,STEM,>20,500-999,Pvt Ltd,>4,32,0.0
167,30496,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,Arts,>20,100-500,Pvt Ltd,>4,11,0.0
168,7189,city_73,0.754,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,<10,Pvt Ltd,1,41,0.0
169,29497,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,10000+,Public Sector,>4,87,1.0
170,31593,city_67,0.855,Male,Has relevent experience,no_enrollment,Masters,STEM,10,100-500,Pvt Ltd,4,114,0.0
171,12384,city_70,0.698,NaN,Has relevent experience,NaN,NaN,NaN,>20,NaN,NaN,>4,33,0.0
172,11986,city_90,0.698,Male,Has relevent experience,Part time course,Masters,STEM,5,<10,Early Stage Startup,1,15,0.0
173,31033,city_16,0.910,NaN,No relevent experience,Full time course,High School,NaN,3,NaN,NaN,1,8,0.0
174,14835,city_173,0.878,Female,Has relevent experience,Part time course,High School,NaN,2,100-500,NGO,1,22,0.0
175,3728,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,5000-9999,Pvt Ltd,4,13,0.0
176,3024,city_98,0.949,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,<10,Public Sector,1,246,0.0
177,23508,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,9,10/49,Pvt Ltd,1,22,0.0
178,29457,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,<10,Funded Startup,1,81,0.0
179,12297,city_175,0.776,NaN,Has relevent experience,Full time course,Graduate,STEM,4,10/49,Funded Startup,1,11,0.0
180,27708,city_94,0.698,Male,No relevent experience,Full time course,Graduate,STEM,5,5000-9999,NaN,NaN,24,1.0
181,3065,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Funded Startup,1,50,0.0
182,29226,city_104,0.924,Male,No relevent experience,Full time course,High School,NaN,6,NaN,NaN,never,15,0.0
183,5493,city_28,0.939,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,10/49,Pvt Ltd,>4,31,0.0

In [5]:
test.head(200)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,32403,city_41,0.827,Male,Has relevent experience,Full time course,Graduate,STEM,9,<10,NaN,1,21
1,9858,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,Pvt Ltd,1,98
2,31806,city_21,0.624,Male,No relevent experience,no_enrollment,High School,NaN,<1,NaN,Pvt Ltd,never,15
3,27385,city_13,0.827,Male,Has relevent experience,no_enrollment,Masters,STEM,11,10/49,Pvt Ltd,1,39
4,27724,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,72
5,217,city_23,0.899,Male,No relevent experience,Part time course,Masters,STEM,10,NaN,NaN,2,12
6,21465,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,<1,100-500,Pvt Ltd,1,11
7,27302,city_160,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,>4,81
8,12994,city_173,0.878,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,2
9,16287,city_21,0.624,Male,Has relevent experience,Full time course,Graduate,NaN,3,50-99,Funded Startup,1,4
10,10856,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,Other,>20,NaN,NaN,>4,196
11,9272,city_90,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,20,10/49,Pvt Ltd,2,51
12,14249,city_46,0.762,Male,Has relevent experience,no_enrollment,Graduate,STEM,8,100-500,Other,never,48
13,24372,city_98,0.949,NaN,Has relevent experience,no_enrollment,Masters,STEM,4,100-500,Pvt Ltd,1,134
14,14070,city_103,0.920,NaN,No relevent experience,no_enrollment,Graduate,STEM,5,NaN,NaN,never,10
15,24914,city_21,0.624,NaN,Has relevent experience,Full time course,Graduate,STEM,13,1000-4999,Pvt Ltd,1,125
16,7865,city_21,0.624,Male,Has relevent experience,no_enrollment,Masters,STEM,4,100-500,Pvt Ltd,1,4
17,7463,city_13,0.827,Male,Has relevent experience,no_enrollment,Masters,Business Degree,2,50-99,Pvt Ltd,1,31
18,21514,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,6,NaN,Pvt Ltd,4,23
19,29033,city_21,0.624,Male,No relevent experience,Full time course,NaN,NaN,2,NaN,NaN,never,110
20,15359,city_103,0.920,NaN,No relevent experience,Full time course,Graduate,STEM,2,NaN,NaN,never,74
21,16001,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,7,10000+,NaN,1,44
22,25202,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,1000-4999,Pvt Ltd,3,33
23,5058,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,1,NaN,NaN,1,81
24,23570,city_118,0.722,Male,Has relevent experience,no_enrollment,Graduate,STEM,19,100-500,Pvt Ltd,>4,19
25,19139,city_103,0.920,Female,Has relevent experience,Part time course,Graduate,STEM,15,NaN,Public Sector,>4,48
26,9548,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Pvt Ltd,>4,65
27,8799,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,6,NaN,Public Sector,1,46
28,11113,city_134,0.698,NaN,Has relevent experience,no_enrollment,Masters,STEM,16,NaN,Pvt Ltd,1,78
29,19437,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,3,10/49,Pvt Ltd,NaN,105
30,394,city_73,0.754,NaN,Has relevent experience,Full time course,Graduate,STEM,5,50-99,Pvt Ltd,1,29
31,7683,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,NaN,1,10
32,22849,city_116,0.743,NaN,Has relevent experience,no_enrollment,NaN,NaN,NaN,50-99,Pvt Ltd,never,12
33,17189,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,10000+,Pvt Ltd,4,43
34,28610,city_16,0.910,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Pvt Ltd,>4,18
35,25608,city_165,0.903,NaN,Has relevent experience,no_enrollment,Masters,STEM,17,50-99,Pvt Ltd,>4,8
36,22139,city_103,0.920,Male,Has relevent experience,Part time course,Graduate,STEM,>20,100-500,Pvt Ltd,>4,8
37,19644,city_61,0.913,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,145
38,18517,city_21,0.624,NaN,No relevent experience,Full time course,Masters,STEM,<1,10/49,Pvt Ltd,1,22
39,12835,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,<10,Early Stage Startup,1,9
40,20178,city_45,0.890,Male,Has relevent experience,no_enrollment,Masters,STEM,13,NaN,Public Sector,1,20
41,25855,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,Arts,4,50-99,Pvt Ltd,1,20
42,32126,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,16,100-500,Pvt Ltd,4,130
43,22753,city_104,0.924,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,2,3
44,18133,city_103,0.920,Male,No relevent experience,no_enrollment,Graduate,STEM,1,NaN,NaN,1,23
45,29242,city_21,0.624,Male,Has relevent experience,no_enrollment,Masters,STEM,5,100-500,Pvt Ltd,1,49
46,6312,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,270
47,113,city_16,0.910,Male,Has relevent experience,no_enrollment,Masters,STEM,6,1000-4999,Pvt Ltd,1,23
48,14685,city_114,0.926,Male,No relevent experience,Full time course,Masters,STEM,3,10/49,Pvt Ltd,1,35
49,20768,city_90,0.698,Male,No relevent experience,Full time course,High School,NaN,2,NaN,NaN,never,87
50,25906,city_28,0.939,Male,Has relevent experience,no_enrollment,Graduate,STEM,19,50-99,Pvt Ltd,1,37
51,20142,city_104,0.924,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,50-99,Pvt Ltd,1,158
52,25891,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,8
53,4742,city_149,0.689,NaN,No relevent experience,no_enrollment,NaN,NaN,2,NaN,NaN,NaN,114
54,2222,city_105,0.794,Male,Has relevent experience,no_enrollment,Graduate,Business Degree,14,100-500,Pvt Ltd,1,15
55,16917,city_103,0.920,NaN,No relevent experience,Full time course,High School,NaN,1,NaN,NaN,1,48
56,10493,city_21,0.624,NaN,Has relevent experience,no_enrollment,Masters,STEM,8,1000-4999,Pvt Ltd,2,40
57,10418,city_76,0.698,Male,Has relevent experience,no_enrollment,NaN,NaN,7,100-500,Pvt Ltd,>4,91
58,9766,city_83,0.923,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,1000-4999,Pvt Ltd,2,14
59,1361,city_103,0.920,Other,Has relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,1,132
60,19625,city_97,0.925,Male,Has relevent experience,no_enrollment,High School,NaN,7,50-99,Pvt Ltd,1,31
61,20943,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,8
62,9561,city_28,0.939,NaN,Has relevent experience,no_enrollment,Masters,STEM,19,NaN,NaN,2,72
63,4271,city_13,0.827,NaN,Has relevent experience,NaN,Graduate,STEM,5,<10,Pvt Ltd,2,74
64,2094,city_64,0.666,Female,Has relevent experience,no_enrollment,Graduate,STEM,18,100-500,Pvt Ltd,>4,43
65,16931,city_31,0.807,Male,Has relevent experience,no_enrollment,Graduate,STEM,15,NaN,NaN,>4,134
66,27298,city_21,0.624,Male,No relevent experience,no_enrollment,Graduate,Arts,5,<10,Early Stage Startup,never,18
67,26493,city_136,0.897,Male,No relevent experience,Part time course,Graduate,STEM,8,NaN,Public Sector,1,124
68,30745,city_19,0.682,Male,Has relevent experience,no_enrollment,Graduate,STEM,8,NaN,NaN,3,80
69,21052,city_90,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,2,NaN,NaN,never,9
70,20723,city_11,0.550,Male,Has relevent experience,Full time course,Graduate,STEM,<1,50-99,Pvt Ltd,1,188
71,13539,city_143,0.740,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,<10,Pvt Ltd,2,182
72,3214,city_16,0.910,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,1000-4999,Pvt Ltd,4,282
73,16230,city_103,0.920,NaN,No relevent experience,Full time course,High School,NaN,1,NaN,NaN,never,84
74,25300,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,<10,Early Stage Startup,1,59
75,24018,city_11,0.550,Male,Has relevent experience,Part time course,Graduate,STEM,3,10/49,Pvt Ltd,1,116
76,21833,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,20,50-99,Pvt Ltd,>4,34
77,30632,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,12,50-99,Pvt Ltd,2,64
78,4334,city_103,0.920,Male,Has relevent experience,NaN,High School,NaN,9,NaN,NaN,2,19
79,22271,city_100,0.887,Male,No relevent experience,Full time course,Graduate,Other,15,NaN,NaN,3,77
80,28776,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,10000+,Pvt Ltd,>4,56
81,27769,city_21,0.624,Male,No relevent experience,Full time course,Masters,STEM,2,NaN,NaN,1,73
82,25909,city_67,0.855,NaN,Has relevent experience,no_enrollment,Masters,STEM,15,100-500,Pvt Ltd,>4,30
83,31266,city_114,0.926,Male,Has relevent experience,no_enrollment,Graduate,STEM,9,500-999,Pvt Ltd,>4,66
84,7973,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,14,10000+,Pvt Ltd,1,10
85,30867,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,1,100
86,22501,city_75,0.939,Male,Has relevent experience,no_enrollment,NaN,NaN,19,10/49,Pvt Ltd,>4,32
87,2539,city_13,0.827,Male,Has relevent experience,Full time course,Masters,STEM,10,10000+,Pvt Ltd,4,29
88,26681,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,Business Degree,>20,10000+,Pvt Ltd,3,8
89,16184,city_127,0.745,NaN,No relevent experience,Full time course,High School,NaN,1,NaN,NaN,never,77
90,3852,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,1000-4999,Pvt Ltd,>4,28
91,1680,city_19,0.682,Male,Has relevent experience,no_enrollment,Masters,STEM,19,1000-4999,NaN,4,99
92,3562,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,1000-4999,Pvt Ltd,2,41
93,8488,city_101,0.558,Male,Has relevent experience,Part time course,Masters,STEM,3,NaN,NaN,2,258
94,8373,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,17,1000-4999,Pvt Ltd,3,144
95,2934,city_75,0.939,Male,Has relevent experience,no_enrollment,Phd,STEM,>20,1000-4999,Pvt Ltd,3,328
96,12919,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,Humanities,4,NaN,NaN,1,47
97,4386,city_21,0.624,Male,No relevent experience,Full time course,High School,NaN,3,<10,Early Stage Startup,2,36
98,22462,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,9,10000+,NGO,1,30
99,13988,city_103,0.920,NaN,Has relevent experience,Part time course,Masters,STEM,16,10000+,Pvt Ltd,>4,36
100,21230,city_103,0.920,NaN,No relevent experience,no_enrollment,High School,NaN,3,NaN,NaN,>4,41
101,26180,city_139,0.487,Male,No relevent experience,Full time course,Graduate,STEM,1,10/49,Pvt Ltd,never,64
102,16658,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,Business Degree,16,50-99,Pvt Ltd,1,55
103,10324,city_16,0.910,Male,Has relevent experience,Part time course,Graduate,STEM,>20,10000+,Pvt Ltd,2,12
104,20453,city_27,0.848,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,50-99,Pvt Ltd,never,4
105,13485,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,11,100-500,Pvt Ltd,2,23
106,33080,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,never,32
107,25492,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,10
108,1319,city_71,0.884,Male,No relevent experience,Part time course,Graduate,STEM,<1,NaN,NaN,>4,18
109,19146,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,18,50-99,NaN,1,43
110,29339,city_67,0.855,Male,Has relevent experience,no_enrollment,Masters,STEM,15,50-99,Pvt Ltd,never,5
111,33177,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,11,50-99,Pvt Ltd,1,8
112,22143,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,>20,5000-9999,Pvt Ltd,1,34
113,22264,city_160,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,6,NaN,NaN,1,58
114,17034,city_103,0.920,NaN,Has relevent experience,Full time course,Graduate,STEM,5,10000+,Other,never,48
115,27002,city_21,0.624,Male,Has relevent experience,Full time course,Graduate,STEM,7,50-99,Pvt Ltd,>4,58
116,21318,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,9,1000-4999,Pvt Ltd,1,7
117,12308,city_143,0.740,NaN,No relevent experience,no_enrollment,Graduate,STEM,10,1000-4999,Public Sector,>4,84
118,842,city_21,0.624,Male,No relevent experience,Full time course,Graduate,STEM,7,NaN,NaN,1,12
119,4926,city_103,0.920,Male,No relevent experience,no_enrollment,High School,NaN,1,NaN,NaN,never,22
120,3,city_99,0.915,NaN,No relevent experience,Full time course,High School,NaN,6,NaN,Pvt Ltd,never,44
121,19567,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,12,1000-4999,Pvt Ltd,1,42
122,12809,city_61,0.913,Male,Has relevent experience,no_enrollment,High School,NaN,3,100-500,Pvt Ltd,1,48
123,22682,city_71,0.884,Male,No relevent experience,no_enrollment,Masters,STEM,2,1000-4999,Pvt Ltd,1,196
124,1216,city_173,0.878,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,1000-4999,Pvt Ltd,2,80
125,4417,city_103,0.920,NaN,No relevent experience,no_enrollment,NaN,NaN,NaN,NaN,NaN,NaN,99
126,24162,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,<1,<10,Pvt Ltd,1,48
127,16873,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,>20,5000-9999,Pvt Ltd,>4,95
128,21920,city_16,0.910,Female,No relevent experience,no_enrollment,Phd,STEM,19,1000-4999,NGO,1,64
129,24230,city_21,0.624,NaN,Has relevent experience,Full time course,Masters,No Major,<1,<10,Early Stage Startup,NaN,17
130,5189,city_16,0.910,NaN,No relevent experience,no_enrollment,High School,NaN,<1,NaN,NaN,1,64
131,24396,city_70,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,18,100-500,Pvt Ltd,2,54
132,770,city_73,0.754,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Pvt Ltd,1,12
133,30913,city_103,0.920,Male,No relevent experience,no_enrollment,Graduate,STEM,>20,<10,Pvt Ltd,>4,19
134,14566,city_69,0.856,Female,Has relevent experience,Part time course,Graduate,STEM,7,500-999,Pvt Ltd,1,145
135,15634,city_61,0.913,Male,Has relevent experience,no_enrollment,Graduate,No Major,11,100-500,Pvt Ltd,>4,50
136,18163,city_64,0.666,NaN,Has relevent experience,no_enrollment,High School,NaN,2,NaN,NaN,never,135
137,16673,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,<1,NaN,NaN,1,3
138,18805,city_16,0.910,Male,No relevent experience,no_enrollment,Phd,Humanities,>20,NaN,NaN,>4,27
139,15367,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,<1,NaN,NaN,1,24
140,22556,city_21,0.624,Male,Has relevent experience,Full time course,Graduate,STEM,5,10/49,Funded Startup,1,120
141,27439,city_100,0.887,Male,Has relevent experience,Part time course,Graduate,STEM,15,NaN,NaN,1,61
142,18426,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,23
143,9789,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,4
144,28172,city_114,0.926,NaN,Has relevent experience,no_enrollment,Masters,STEM,>20,100-500,Pvt Ltd,>4,139
145,9184,city_136,0.897,Male,Has relevent experience,Part time course,Masters,STEM,3,10000+,Pvt Ltd,1,34
146,3587,city_16,0.910,Male,Has relevent experience,no_enrollment,Masters,Humanities,7,NaN,Pvt Ltd,4,21
147,1167,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,15,100-500,Pvt Ltd,4,10
148,1663,city_134,0.698,NaN,Has relevent experience,Part time course,Masters,STEM,>20,NaN,NaN,>4,15
149,20948,city_44,0.725,NaN,Has relevent experience,no_enrollment,Masters,STEM,5,10/49,NaN,NaN,42
150,31594,city_41,0.827,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,>4,154
151,27117,city_90,0.698,Male,No relevent experience,Full time course,Graduate,STEM,<1,NaN,NaN,never,8
152,678,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,1,84
153,1441,city_103,0.920,Male,No relevent experience,Full time course,Masters,STEM,16,NaN,NaN,never,96
154,31272,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,5000-9999,Pvt Ltd,4,56
155,12443,city_149,0.689,Male,Has relevent experience,no_enrollment,High School,NaN,6,100-500,Pvt Ltd,1,270
156,32981,city_165,0.903,Male,Has relevent experience,no_enrollment,Phd,STEM,>20,NaN,NaN,1,76
157,1317,city_103,0.920,NaN,Has relevent experience,no_enrollment,Masters,STEM,12,100-500,Funded Startup,1,48
158,4601,city_28,0.939,Male,No relevent experience,no_enrollment,Phd,STEM,>20,5000-9999,Pvt Ltd,2,9
159,30498,city_83,0.923,NaN,No relevent experience,no_enrollment,Graduate,STEM,3,10/49,Public Sector,never,27
160,7863,city_165,0.903,NaN,No relevent experience,no_enrollment,Graduate,STEM,13,NaN,NaN,3,40
161,8744,city_150,0.698,Male,No relevent experience,Full time course,High School,NaN,1,NaN,NaN,never,72
162,14698,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,5000-9999,Pvt Ltd,1,66
163,10021,city_16,0.910,Female,Has relevent experience,no_enrollment,Graduate,STEM,5,10000+,Pvt Ltd,1,22
164,15253,city_16,0.910,Male,Has relevent experience,no_enrollment,Phd,STEM,>20,50-99,Funded Startup,3,156
165,18108,city_114,0.926,Male,Has relevent experience,no_enrollment,High School,NaN,5,10000+,Pvt Ltd,>4,95
166,31410,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Pvt Ltd,>4,35
167,30532,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,16,500-999,Pvt Ltd,1,102
168,31733,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,NaN,>4,51
169,28833,city_21,0.624,Male,Has relevent experience,Full time course,Graduate,STEM,2,50-99,Pvt Ltd,1,88
170,8708,city_74,0.579,Male,Has relevent experience,Part time course,Masters,STEM,3,50-99,Pvt Ltd,1,13
171,10050,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,10,10000+,Pvt Ltd,>4,20
172,21685,city_114,0.926,NaN,No relevent experience,no_enrollment,Phd,STEM,15,10000+,Pvt Ltd,1,91
173,18529,city_143,0.740,Male,Has relevent experience,Full time course,Graduate,STEM,6,10/49,Pvt Ltd,4,34
174,1850,city_103,0.920,NaN,No relevent experience,no_enrollment,Graduate,STEM,1,100-500,Public Sector,1,20
175,22639,city_176,0.764,Male,Has relevent experience,no_enrollment,Graduate,STEM,4,10/49,Pvt Ltd,1,77
176,5967,city_21,0.624,Male,Has relevent experience,no_enrollment,Masters,STEM,9,10/49,Pvt Ltd,>4,101
177,20977,city_16,0.910,Male,Has relevent experience,no_enrollment,High School,NaN,>20,100-500,Pvt Ltd,1,178
178,5391,city_155,0.556,Male,No relevent experience,Full time course,Graduate,STEM,2,NaN,NaN,NaN,29
179,4398,city_155,0.556,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,50-99,NaN,3,200
180,18383,city_21,0.624,Male,No relevent experience,no_enrollment,Masters,STEM,4,100-500,Pvt Ltd,1,15
181,17336,city_21,0.624,Male,No relevent experience,Full time course,High School,NaN,2,NaN,NaN,never,72
182,7470,city_167,0.921,Male,Has relevent experience,Full time course,Graduate,STEM,7,100-500,Pvt Ltd,1,8
183,24781,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Pvt Ltd,2,76
184,24202,city_90,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,NaN,NaN,1,9
185,20650,city_73,0.754,NaN,Has relevent experience,Part time course,Graduate,STEM,6,10/49,Pvt Ltd,3,68
186,5377,city_114,0.926,Male,No relevent experience,no_enrollment,High School,NaN,5,NaN,Pvt Ltd,never,70
187,31693,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,51
188,28619,city_103,0.920,Male,No relevent experience,no_enrollment,Graduate,No Major,3,NaN,NaN,never,4
189,15432,city_114,0.926,NaN,No relevent experience,no_enrollment,High School,NaN,11,100-500,Pvt Ltd,>4,16
190,22999,city_21,0.624,Female,Has relevent experience,no_enrollment,Graduate,STEM,<1,100-500,Pvt Ltd,1,9
191,8377,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,100-500,Pvt Ltd,2,24

In [6]:
for col in ['gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours']:
    print(col)
    print(train[col].value_counts(dropna = False))
    print(test[col].value_counts(dropna = False))
    print()

gender
Male      13221
NaN       4508
Female    1238
Other     191
Name: gender, dtype: int64
Male      1460
NaN       508
Female    137
Other     24
Name: gender, dtype: int64

relevent_experience
Has relevent experience    13792
No relevent experience     5366
Name: relevent_experience, dtype: int64
Has relevent experience    1524
No relevent experience     605
Name: relevent_experience, dtype: int64

enrolled_university
no_enrollment       13817
Full time course    3757
Part time course    1198
NaN                 386
Name: enrolled_university, dtype: int64
no_enrollment       1519
Full time course    435
Part time course    144
NaN                 31
Name: enrolled_university, dtype: int64

education_level
Graduate          11598
Masters           4361
High School       2017
NaN               460
Phd               414
Primary School    308
Name: education_level, dtype: int64
Graduate          1269
Masters           496
High School       222
Phd               54
NaN               52
Primary School    36
Name: education_level, dtype: int64

major_discipline
STEM               14492
NaN                2813
Humanities         669
Other              381
Business Degree    327
Arts               253
No Major           223
Name: major_discipline, dtype: int64
STEM               1621
NaN                312
Humanities         80
Other              40
Business Degree    37
No Major           22
Arts               17
Name: major_discipline, dtype: int64

experience
>20    3286
5      1430
4      1403
3      1354
6      1216
2      1127
7      1028
10     985
9      980
8      802
15     686
11     664
14     586
1      549
<1     522
16     508
12     494
13     399
17     342
19     304
18     280
20     148
NaN    65
Name: experience, dtype: int64
>20    383
5      163
3      154
4      145
6      130
2      128
7      116
9      113
10     96
11     86
8      82
<1     74
16     68
15     59
1      56
14     55
13     54
12     52
17     36
19     29
18     26
20     19
NaN    5
Name: experience, dtype: int64

company_size
NaN          5938
50-99        3083
100-500      2571
10000+       2019
10/49        1471
1000-4999    1328
<10          1308
500-999      877
5000-9999    563
Name: company_size, dtype: int64
NaN          622
50-99        338
100-500      318
10000+       217
10/49        172
<10          163
1000-4999    143
500-999      88
5000-9999    68
Name: company_size, dtype: int64

company_type
Pvt Ltd                9817
NaN                    6140
Funded Startup         1001
Public Sector          955
Early Stage Startup    603
NGO                    521
Other                  121
Name: company_type, dtype: int64
Pvt Ltd                1141
NaN                    634
Public Sector          127
Funded Startup         97
Early Stage Startup    65
NGO                    53
Other                  12
Name: company_type, dtype: int64

last_new_job
1        8040
>4       3290
2        2900
never    2452
4        1029
3        1024
NaN      423
Name: last_new_job, dtype: int64
1        884
>4       353
2        342
never    258
3        133
4        119
NaN      40
Name: last_new_job, dtype: int64

training_hours
28     329
12     292
18     291
22     282
50     279
      ...
266    6
272    5
234    5
286    5
238    4
Name: training_hours, Length: 241, dtype: int64
18     41
12     40
29     32
10     32
4      31
       ..
310    1
312    1
314    1
316    1
234    1
Name: training_hours, Length: 223, dtype: int64

In [7]:
label_encoding_col = ['gender','relevent_experience','enrolled_university','education_level','experience','company_size','last_new_job','training_hours']
onehot_encoding_col = ['company_type','major_discipline']

In [8]:
#gender
gender_label = {
    'Male':    1,
    'Female':  0,
    'Other':   0.5
}

train['gender'] = train['gender'].fillna("Other").replace(gender_label)
test['gender'] = test['gender'].fillna("Other").replace(gender_label)

In [9]:
#relevent_experience
relevent_experience_label = {
    'Has relevent experience':  1,
    'No relevent experience':   0
}
train['relevent_experience'] = train['relevent_experience'].replace(relevent_experience_label)
test['relevent_experience'] = test['relevent_experience'].replace(relevent_experience_label)

In [10]:
#enrolled_university
enrolled_university_label = {
    'no_enrollment':      0,
    'Full time course':   1, 
    'Part time course':   0.5
}
train['enrolled_university'] = train['enrolled_university'].fillna('no_enrollment').replace(enrolled_university_label)
test['enrolled_university'] = test['enrolled_university'].fillna('no_enrollment').replace(enrolled_university_label)

In [11]:
#education_level
education_level_label = {
    'Other':           0,
    'Primary School':  1,
    'High School':     2,
    'Graduate':        3,
    'Masters':         4,
    'Phd':             5
}
train['education_level'] = train['education_level'].fillna('Other').replace(education_level_label)
test['education_level'] = test['education_level'].fillna('Other').replace(education_level_label)

In [12]:
#experience
experience_label = {
    '<1' : 0,
    '1'  : 1,
    '2'  : 2,
    '3'  : 3,
    '4'  : 4,
    '5'  : 5,
    '6'  : 6,
    '7'  : 7,
    '8'  : 8,
    '9'  : 9,
    '10'  : 10,
    '11'  : 11,
    '12'  : 12,
    '13'  : 13,
    '14'  : 14,
    '15'  : 15,
    '16'  : 16,
    '17'  : 17,
    '18'  : 18,
    '19'  : 19,
    '20'  : 20,
    '>20': 21
}
train['experience'] = train['experience'].replace(experience_label)
test['experience'] = test['experience'].replace(experience_label)

In [13]:
#company_size
company_size_label = {
    '<10':          0,
    '10/49':        1,
    '50-99':        2,
    '100-500':      3,
    '500-999':      4, 
    '1000-4999':    5,
    '5000-9999':    6, 
    '10000+':       7
}
train['company_size'] = train['company_size'].replace(company_size_label)
test['company_size'] = test['company_size'].replace(company_size_label)

In [14]:
#last_new_job
last_new_job_label = {
    'never':        0,
    '1':            1,
    '2':            2,
    '3':            3,
    '4':            4,
    '>4':           5,
}
train['last_new_job'] = train['last_new_job'].replace(last_new_job_label)
test['last_new_job'] = test['last_new_job'].replace(last_new_job_label)

In [15]:
#major_discipline

train = train.join(pd.get_dummies(train['major_discipline'],prefix='major'))\
        .drop('major_discipline',axis=1)
test = test.join(pd.get_dummies(test['major_discipline'],prefix='major'))\
        .drop('major_discipline',axis=1)

In [16]:
#company_type

train = train.join(pd.get_dummies(train['company_type'],prefix='company_type'))\
        .drop('company_type',axis=1)
test = test.join(pd.get_dummies(test['company_type'],prefix='company_type'))\
        .drop('company_type',axis=1)

In [17]:
#city
train = train.drop('city',axis=1)
test = test.drop('city',axis=1)

In [18]:
train = train.set_index('enrollee_id')
test = test.set_index('enrollee_id')

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
train = train.fillna(train.mean())
test = test.fillna(test.mean())
X_ = train.drop('target', axis = 1)
Y_ = train['target']

X_train, X_test, Y_train, Y_test = train_test_split(X_,Y_,test_size = 0.2,random_state=3)

In [21]:
X_train.to_csv("X_train.csv")
Y_train.to_csv("Y_train.csv")
X_test.to_csv("X_test.csv")
Y_test.to_csv("Y_test.csv")
test.to_csv("test_processed.csv")